<!DOCTYPE html>
<html>
<head>
  <title>Fom.io</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial" />
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
</body>
</html>
